<footer>
        
        <div class="footer" > The Solar System 2019 &copy; </div>
        <p> Kyle Dilbeck CST336 Internet Programming</p>
        <img src="/img/csumb.png" alt="csumb" />
        
<marquee>ahhhhhhhhhhh</marquee>


</footer>

</body>

</html>