<!DOCTYPE html>
<html>
    <head>
        <title>Kyle Dilbeck Lab 7 10/21/19</title>
     
      <meta charset="utf-8">
      <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
       
    
      <link href="css/styles.css" rel="stylesheet" type="text/css" />
      <!--<script SRC='js/functions.js'></script>   -->
    </head>
    
    <body>
            <p>Lab 7 Kyle Dilbeck 10/23/19</p>
            
        
        <nav id="nav">
            <a href="/index">   HOME   </a><br>
            
            <!--<a> </a><br>-->
            
        </nav>
            
                        <br/><br/>