<% include partials/head.ejs %>

<h1> PIXABAY SEARCH (using express)</h1>

<form id="form1" action="/results">
    
    Keyword: <input type="text" name="keyword"> 
    <button>Search!</button>
</form><br>
<img src='<%=image%>'>



<% include partials/footer.ejs %>

