<% include partials/head.ejs %>

        <h1> Pixabay Search Results </h1>
        
        <form action="/results">
            
            Keyword: <input type="text" name="keyword">
            <button> Search! </button>
            
        </form> <br>
        
        <br>
        
        <img src='<%= images.hits[0].largeImageURL %>' width='250'>
        <img src='<%= images.hits[1].largeImageURL %>' width='250'>
        <img src='<%= images.hits[2].largeImageURL %>' width='250'>
        <img src='<%= images.hits[3].largeImageURL %>' width='250'>
        

<% include partials/footer.ejs %>